.pre-wrap {
  white-space:pre-wrap;
}

.col-sm-4 {
  padding-left: 0px;
}
	    
@media screen and (max-width: 992px) {
  .col-sm-4 {
    padding-right: 0px;
  }

  .col-sm-8 {
    padding-left: 0px;
  }
}
.glyphicon1 {
    position: relative;
   top: 1px;
    display: inline-block;
   // font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
   line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}