<?xml version="1.0" encoding="utf-8" ?>
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
	<g:requires name="angularjs.min.1.3.2.jsdbx" />
	<style>
		#dynamicTable table,
		#dynamicTable th,
		#dynamicTable td {
			text-align: center !important;
		}
		.danger{
			background-color: #ffdadc;
		}
	</style>
	<div id="dtAdd">
		<div ng-app="myApp" ng-controller="MainCtrl" style="width:100%">
			<div style="display:block;text-align:center;margin:auto">
				<div class="row">
					<div class="col-md-12" style="padding-right:0px!important; font-weight: bold">
						<kbd>{{caption}}</kbd>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="form-group ">
									<input type="button" class="btn btn-primary addnew pull-left"
										ng-click="addRecord(TableInfos)" value="Add Information" id="addItem" />
									<input type="button" ng-hide="!TableInfos.length"
										class="btn btn-danger addnew pull-right" ng-click="remove()"
										value="Remove Information" id="removeItem" />
								</div>
								<p id="stat" class="text-center danger">{{status}}</p>
								<div style="overflow-x:auto">
									<table class="table table-bordered" id="dynamicTable">
										<thead>
											<tr>
												<th rowspan='2'><input type="checkbox" class="chkBox" ng-model="selectedAll"
														ng-click="checkAll()" /></th>
												<th rowspan='2'>Edit</th>
												<th rowspan='2'>Sr.</th>
												<th rowspan='2'>Scheduled Asset Swap Date</th>
												<th rowspan='2'>Data Transfer Needed</th>
												<th rowspan='2'>Customer Type</th>
												<th rowspan='2'>Project Number</th>
												<th rowspan='2'>Deployment Type</th>
												<th rowspan='2'>Request Type</th>
												<th rowspan='2'>Customer Name</th>
												<th rowspan='2'>Customer Location</th>
												<th rowspan='2'>Building/floor# /workstation#</th>
												<th rowspan='2'>LOB</th>
												<th colspan='3'>New Computer Info</th>
												<th colspan='5'>Old Computer Info</th>
												<th rowspan='2'>Software Needed</th>
												<th rowspan='2'>Notification Needed</th>
											</tr>
											<tr>
												<th>Serial Number</th>
												<th>Asset Tag</th>
												<th>Model</th>
												<th>Serial Number</th>
												<th>Asset Tag</th>
												<th>Model</th>
												<th>State</th>
												<th>Substate</th>
											</tr>

										</thead>
										<tbody>
											<tr ng-repeat="EachInfo in TableInfos">
												<td><input class="chkBox" type="checkbox" ng-model="EachInfo.selected" /></td>
												<td><button type="button" onclick="displaySave(this)"
														class="btn btn-default btn-sm edit"
														ng-click="editRecord($index)" ng-hide="hideEditIcon">
														<span class="glyphicon glyphicon-edit"></span>
													</button>
													<button type="button" class="btn btn-default btn-sm" id="save"
														ng-click="saveRecord($index,$event)" style="display:none">
														<!-- ng-show="showSaveIcon" -->
														<span class="glyphicon glyphicon-floppy-save"
															style="color:red"></span>
													</button>
												</td>

												<td> {{$index+1}} </td>
												<td>
													<div style='width: 80px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field1" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div>
														<input type="text" class="form-control"
															ng-model="EachInfo.field2" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 100px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field3" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 70px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field4" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 120px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field5" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 120px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field6" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 140px;'><input type="text" class="form-control"
															ng-model="EachInfo.field7" ng-disabled="true" /></div>
												</td>
												<td>
													<div style='width: 140px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field8" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div>
														<input type="text" class="form-control"
															ng-model="EachInfo.field9" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 60px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field10" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 80px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field11" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 80px;'><input type="text" class="form-control"
															ng-model="EachInfo.field12" ng-disabled="true" /></div>
												</td>
												<td>
													<div style='width: 150px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field13" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 80px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field14" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 80px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field15" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 150px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field16" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 70px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field17" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 100px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field18" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 140px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field19" ng-disabled="true" />
													</div>
												</td>
												<td>
													<div style='width: 80px;'>
														<input type="text" class="form-control"
															ng-model="EachInfo.field20" ng-disabled="true" />
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</j:jelly>